/*
CSS Selectors
_________________

+-------------------------------------------------------------------------+
Universal Selector
 * {color:black;}  >- select every element on the page, dont use it!
+-------------------------------------------------------------------------+


+-------------------------------------------------------------------------+
Element Selector
img { background-color: pink; }
h2 { font-size: 20px; }
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
SELECTOR LIST
h1,h2 {font-family: verdana;}
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
ID SELECTOR (uniq id per elements;)
#id { font-size: 20px; }
** Don't be scared of using them, but don't use it to style every element separately;
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
CLASS SELECTOR (a class can have multiple elements;) ( will be used far more often then ids)
.class {
    font-family: verdana;
}
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
DESCENDANT SELECTOR (select all y elements that are nested in the x)

** all a elements nested in the li
li a {
    color:black;
}

** works with class or ids too:

.post a{
    color:blue;
}
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
ADJACENT SELECTOR (Select only the first preceded y by x)
h1 + p { color:red;}
x + y { color:red; }
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
DIRECT CHILD SELECTOR (Select the direct child on the parent element) (1 level down)
<div>
    <h2>H2</h2>
    <ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
</div>

div > li{
    color:pink;
}
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
ATTRIBUTE SELECTOR
(Select all input elements where the type attribute is set to text or password)

input[type = "text"] { color:black;}
input[type = "password"] { background-color: pink;}
+-------------------------------------------------------------------------+


+-------------------------------------------------------------------------+
PSEUDO CLASSES(keyword added to a selector that specifies the state of the element)
:active
:checked
:first
:first-child
:hover
:not()
:nth-child()
:nth-of-type(3 post or 2n(even), 3n)

(Cursor Hover over the element)
#loginbutton:hover{
    background-color: pink;
    color: purple;
}

(Element clicked)
#loginbutton:active{
    background-color: pink;
    color: purple;
}
+-------------------------------------------------------------------------+

+-------------------------------------------------------------------------+
PSEUDO ELEMENTS(Let's you style a particular part of the selected element)
::after
::before
::first-letter >- first letter on an h2 or
::first-line
::selection >- when we highlight a paragraph or some text;

h2::first-letter{
    color:black;
}
+-------------------------------------------------------------------------+
 */



/*+-------------------------------------------------------------------------+*/
/*+--------------------------Universal Selector-----------------------------+*/

* {
    color: pink;
}

/*+-------------------------------------------------------------------------+*/



/*+------------Element Selector----SELECTOR LIST----------------------------+*/

button {
    background-color: purple;
    font-size: 20px;
}

h1,h2 {
    color: darkslateblue;
    letter-spacing: 1px;
    text-decoration: underline wavy;
}

/*+-------------------------------------------------------------------------+*/

/*+------------------------------ID SELECTOR--------------------------------+*/

#logoutbutton{
    background-color: pink;
    color: purple;
    font-size: 20px;
    font-family: Verdana,sans-serif;
}

#loginbutton{
    font-family: monospace,sans-serif;
}

/*+-------------------------------------------------------------------------+*/

/*+----------------------------CLASS SELECTOR-------------------------------+*/

.tag{
    font-size: 15px;
    /*color: deeppink;*/
    /*background-color: purple;*/
}

/*+-------------------------------------------------------------------------+*/

/*+---------------------DIRECT CHILD SELECTOR-------------------------------+*/

.post a {
   color: #e63946;
}

li a {
    color: purple;
}

input + button {
    background-color: black;
}

h2 + button {
    color: black;
    font-size: 25px;
}

footer > nav > ul > li > a {
    /*color: #ffd6ff;*/
    color: blue;
}

/*+-------------------------------------------------------------------------+*/

/*+------------------------ATTRIBUTE SELECTOR-------------------------------+*/


input[type = "text"] {
    color: pink;
}

input[type="password"] {
    color: purple;
}

/*+-------------------------------------------------------------------------+*/

/*+-----------------------PSEUDO CLASSES------------------------------------+*/
#loginbutton:hover{
    background-color: pink;
    color: purple;
}

#loginbutton:active{
    background-color: green;
    color: purple;
}

#logoutbutton:hover{
    background-color: black;
    color: pink;
}

a:hover {
    text-decoration: underline wavy;
    font-size: 15px;
    font-family: Verdana,monospace;
}

/*.post:nth-of-type(3n){
  background-color:#ff4d6d ;
}*/

/*+-------------------------------------------------------------------------+*/

/*+--------------------------PSEUDO ELEMENTS--------------------------------+*/
h2::first-letter{
    font-size: 50px;
}
*::selection{
    background-color: green;
}


a::before{
    content: "->";
}

a::after{
    content: "<-";
}
/*+-------------------------------------------------------------------------+*/


/*+--------------------------THE CASCADE--------------------------------+*/
/*
|---------------------------------------------------------|
|The order your styles are declared and lined to matter!  |
|---------------------------------------------------------|
*/

h1 {
    color: red;
}

h1 {
    color: purple;
}

/* PURPLE WIN!! */









