/*
+-------------------------------------------------------------------------+|
| What's FLEXBOX?
| ** One-dimensional layout to lay items in rows and cols.
+-------------------------------------------------------------------------+|
THE FLEX MODEL

        ^
        |
        |       MAIN AXIS
  <_____|___________________________________________>
        |
        |
        |
        |
        | CROSS AXIS

+-------------------------------------------------------------------------+|
1. FLEX DIRECTION                                                          |
|__________________|                                                       |
|The WAY MAIN AXIS BEHAVES IS DEPEND ON flex-direction;                    |
+-------------------------------------------------------------------------+|
|flex-direction: row; (PUT MAIN AXIS LEFT TO RIGHT)                        |
|flex-direction: row-reverse;  (PUT MAIN AXIS RIGHT TO LEFT)               |
+-------------------------------------------------------------------------+|
|flex-direction: column;                                                   |
|flex-direction: column-reverse;                                           |
+-------------------------------------------------------------------------+|
|2. JUSTIFY-CONTENT(MAIN AXIS)                                             |
|______________________________|                                           |
|* Center content on the MAIN AXIS                                         |
|justify-content: center;                                                  |
+-------------------------------------------------------------------------+|
|* Position content on the start of MAIN AXIS(LEFT)                        |
|justify-content: flex-start;                                              |
+-------------------------------------------------------------------------+|
|* Position content on the end of MAIN AXIS(RIGHT)                         |
|justify-content: flex-end;                                                |
+-------------------------------------------------------------------------+|
|* Take the extra space and distribute between the elements;               |
|justify-content: space-between;                                           |
+-------------------------------------------------------------------------+|
|* Take the extra space and distribute around the elements;                |
|justify-content: space-around;                                            |
+-------------------------------------------------------------------------+|
|3. FLEX-WRAP (WRAP the elements along the MAIN AXIS)                      |
|____________________________________________________|                     |
| * Into a new line IF HORIZONTAL;                                         |
| * into a new column IF VERTICALLY;                                       |
+-------------------------------------------------------------------------+|
|flex-wrap:wrap;                                                           |
|flex-wrap:wrap-reverse;                                                   |
+-------------------------------------------------------------------------+|
|4. ALIGN-ITEMS(ALIGN ITEMS ALONG THE CROSS AXIS)                          |
|_________________________________________________|                        |
|align-items: center;                                                      |
|align-items: baseline;                                                    |
+-------------------------------------------------------------------------+|
|align-items: flex-start;                                                  |
|align-items: flex-end;                                                    |
+-------------------------------------------------------------------------+|
5. ALIGN-CONTENT                                                           |
|_________________|                                                        |
| * CONTROL AND DISTRIBUTE space along the CROSS AXIS;                     |
| ** ALIGN-CONTENT works only when we use FLEX-WRAP also;                  |
| align-content: space-between;                                            |
| align-content: flex-start;                                               |
+-------------------------------------------------------------------------+|
6. ALIGN-SELF(works only with SINGLE ELEMENTS;)                            |
|_______________________________________________|                          |
|align-self: center;                                                       |
+-------------------------------------------------------------------------+|
+-------------------------------------------------------------------------+|
+-------------------------------------------------------------------------+|
| II. FLEX SIZING PROPERTIES
||___________________________|
| FLEX-BASIS >- Defines the initial size of an element before additional space is distributed;
| FLEX-GROW >-
|
|
*/

/*------------------------------------------------------------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

#container{
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    /*BEGIN WITH DISPLAY FLEX*/
    display: flex;

    /*CONTROL THE MAIN AXIS*/
    flex-direction: row;

    /*MAIN AXIS*/
    justify-content: space-between;

    /*MAIN AXIS*/
    flex-wrap: wrap;

    /*CROSS AXIS*/
    align-items: baseline;

    /*SINGLE ELEMENT | Works with flex-wrap;*/
    align-content: space-between;
}

#container div{
    width: 200px;
    height: 200px;
}

#container div:nth-of-type(3){
    /*SELF*/
    align-self: center;
}

