section{
    background-color: #fb5607;
    width: 800px;
    height: 800px;
}

div {
    background-color: blueviolet;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

/*
% unit;
 they  are going to be % of the parent element;


Em Units use relative from the parent element
Rem Units use relative from root element;

Working with fonts;
font unit, will be 2x font size of the parent element;

padding, margin;
1em or 2em will be 2x the size of the element it self;


*/

article{
    font-size: 30px;
}

h2{
    font-size: 2em;
}