/*
RGBA - Alpha Channel(Affects only the color itself, but not the content);
    0-1 value WHERE
    0 >- FULL Transparent;
    1 >- NO Transparent;
RGBA(r,g,b, a)
RGBA(255,209,100, 0.5) QUICK LOOK and PREFERABLE;
HEX FF3311 00 - FF


Opacity Property(Affects the color and content);s
    0-1 value WHERE
    0 >- FULL Transparent;
    1 >- NO Transparent;

*/

section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 15%;
    height: 15%;
    /*background-color: rgba(255,255,255, 0.3);*/
    /*background-color: #ff331100;*/
    background-color: #ff3311FF;
}

#opacity{
    width: 500px;
    height: 500px;
    background-color: yellow;
    opacity: 0.5;
}