
/*
|-----------------------------------------------------------------------------------|
|Position Property;                                                                 |
|-----------------------------------------------------------------------------------|
|** The position CSS property sets how an element is positioned in a document.      |
|** The top, right, bottom,left determine the final location of positioned elements |
|-----------------------------------------------------------------------------------|
|position: static; (by default);                                                    |
|** Positioned to the normal flow on the document;                                  |
|** top,right, bottom, left have no effect;                                         |
|-----------------------------------------------------------------------------------|
|position: relative; (top:x px;, left: x px; ,right: x px; , bottom: x px;)         |
|** The offset doesn't affect other elements positioning;                           |
|** The offset is relative to itself based on t,l,b,r values;                       |
|-----------------------------------------------------------------------------------|
|position: absolute;                                                                |
|** Remove the element from his normal flow and no space is created for it;         |
|** It's positioned  closest relative ancestor \  static will be ignored;           |
|** The final position it's determined by top,right,bottom,left                     |
|-----------------------------------------------------------------------------------|
|position: fixed; (Cool for navigation bars)                                        |
|* No space is created for the element;                                             |
|* It's positioned relative to the initial containing block;                        |
|* Its final position is determined by the values of top, right, bottom, and left.  |
|* It's gone a stay there;                                                          |
|-----------------------------------------------------------------------------------|
position: sticky; (pretty cool for navigation bars too); CHECK IT LATER;            |
|-----------------------------------------------------------------------------------|
*/

div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: #81b29a;
}
#middle-r {
    background-color: #81b29a;
}

#middle-a {
    background-color: #81b29a;
}
#middle-f {
    background-color: #81b29a;
}



#static #middle{
    position: static;
    top: 100px;
}

#relative #middle-r{
    position: relative;
    /*Here the space is still there is not gone a be removed*/
    top: 50px;
    left: 50px;
}

#absolute #middle-a {
    position: absolute;
    top: 50px;
    left: 50px;
}

#fixed #middle-f {
    position: fixed;
}